<div class=" h-screen w-screen flex overflow-hidden">
  <!-- cột trái -->
  <div class="h-screen w-screen sm:w-1/4 bg-green-50 shadow overflow-hidden sm:flex flex flex-col ">
    <!-- thông tin người đáng đăng nhập -->
    <div class="px-3 pt-3 pb-3 sm:px-6 w-full bg-green-600">
      <div class="flex justify-between">
        <div class="flex items-center">
          <div class="relative flex-shrink-0 h-10 w-10">
            <img class="h-10 w-10 rounded-full"
              src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60"
              alt="">
            <span class="flex absolute h-3 w-3 top-8 right-1 -mt-1 -mr-1">
              <span
                class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75"></span>
              <span class="relative inline-flex rounded-full h-3 w-3 border-white border-2 bg-green-400"></span>
            </span>
          </div>
        </div>
        <button type="button" class="group ml-4 outline-none">
          <div class="text-sm font-medium text-white cursor-pointer">
            {{user.name}}
          </div>
        </button>
        <div class="flex items-center justify-end">
          <div class=" flex items-center justify-center h-10 w-10  text-white cursor-pointer">
            <button type="button"
              class="ml-2 inline-block rounded-lg font-medium leading-none py-2 px-3 focus:outline-none text-white hover:bg-green-500 focus:bg-green-500">
              <i class="fas fa-envelope"></i>
            </button>
          </div>

          <div class="flex items-center justify-center h-10 w-10 text-white cursor-pointer ">
            <button type="button"
              class="group relative ml-2 inline-block rounded-lg font-medium leading-none py-2 px-3 focus:outline-none text-white hover:bg-green-500 focus:bg-green-500">
              <i class="fas fa-ellipsis-v"></i>
              <ul
                class="bg-white w-28 shadow rounded-md absolute top-10 right-1 hidden mt-0 pt-1 text-gray-700 group-focus:block">
                <li class="rounded-sm px-3 py-1 hover:bg-gray-100">Profile</li>
                <li class="rounded-sm px-3 text-red-400 py-1 hover:bg-gray-100">Đăng xuất</li>
              </ul>
            </button>

          </div>

        </div>
      </div>
    </div>
    <!-- Tìm kiếm user -->
    <div class="m-3.5 bg-white rounded shadow p-1 flex">
      <span class="w-auto flex justify-end items-center text-gray-500 p-2">
        <i class="fas fa-search"></i>
      </span>
      <input #SearchInput
        class="form-control w-full pr-16 border-none placeholder-gray-500 placeholder-opacity-50 focus:outline-none focus:ring-2 focus:ring-white focus:border-transparent"
        placeholder="Tìm kiếm">
    </div>
    <!-- <h5>Danh sách tìm kiếm</h5>
    <div class="w-full grid justify-items-center pt-1 px-2 sm:px-3 pb-2">
      <svg class="animate-spin h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
        </path>
      </svg>
    </div> -->
    <!-- <app-search></app-search> -->
    <!-- danh sách conversation-->
    <div class="w-full flex-auto overflow-hidden">
      <app-conversation [lstData]="listConversationCustomer" (ConversationId)="onGetMessage($event)"></app-conversation>
    </div>
    <!-- danh sách bạn bè-->
    <div class="w-full flex-auto overflow-hidden">
      <!-- <app-friend></app-friend> -->
    </div>
  </div>
  <!-- cột phải -->
  <div [ngClass]="{'hidden':!isShowConversation}" class="w-full h-screen sm:w-3/4  sm:block overflow-hidden">
    <!-- wellcome -->
    <div class="w-full h-full relative overflow-hidden" *ngIf="!Conversation">
      <div class="flex items-end justify-center py-32">
        <div class="space-y-8">
          <h1 class="text-2xl">
            <p>Chào mừng <a class="text-green-500 font-black">{{user.name}}</a> đến với TShop !</p>
          </h1>
        </div>
      </div>
    </div>
    <!-- chat message -->
    <div class="w-full h-full relative overflow-hidden" *ngIf="Conversation">
      <div class="flex flex-col w-full h-full overflow-hidden">
        <!-- header -->
        <div class="px-3 pt-3 pb-3 sm:px-6 w-full  bg-green-300">
          <div class="flex justify-between">
            <div class=" flex items-center sm:hidden justify-center h-10 w-10  text-white cursor-pointer">
              <button type="button"
                class="ml-2 inline-block rounded-lg font-medium leading-none py-2 px-3 focus:outline-none text-white hover:bg-green-500 focus:bg-green-500">
                <i class="fas fa-arrow-left"></i>
              </button>

            </div>
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <img class="h-10 w-10 rounded-full"
                  src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60"
                  alt="">
              </div>
              <div class="ml-4">
                <div class="text-sm font-medium text-gray-900">
                  {{Conversation.nameConversation}}
                </div>
                <div class="text-sm text-gray-500">
                  <!-- {{user.email}} -->
                </div>
              </div>
            </div>
            <div class="flex justify-end">
              <!-- icon -->
              <div class="flex items-center justify-center h-10 w-10  text-white cursor-pointer">

                <button type="button"
                  class="ml-2 inline-block rounded-lg font-medium leading-none py-2 px-3 focus:outline-none text-white hover:bg-green-500 focus:bg-green-500">
                  <i class="fas fa-info"></i>
                </button>
              </div>
            </div>
          </div>

        </div>
        <!-- body-->
        <div class=" w-full  flex-auto overflow-hidden pt-2">
          <app-message [id]="user.id"></app-message>
        </div>
        <!--footer-->
        <div class="w-full  bg-green-300 mt-1">
          <form (ngSubmit)="sendMessage(Content)">
            <div class="flex justify-between">
              <!-- input messaage -->
              <input type="text"
                class="flex-grow m-2 py-3  mr-1 rounded-full border border-gray-300 bg-gray-200 resize-none focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent"
                rows="1" placeholder="Type a message" name="Content" [(ngModel)]="Content" autocomplete="off" />

              <!-- <input class="focus:ring-2 focus:ring-green-600 focus:outline-none "> -->
              <div class="flex items-center justify-center h-50 w-50  text-white cursor-pointer mr-3">
                <button type="button"
                  class="ml-2 inline-block rounded-lg text-4xl leading-none py-2 px-3 focus:outline-none text-white hover:bg-green-500 focus:bg-green-500"
                  (click)="sendMessage(Content)">
                  <i class="fab fa-telegram-plane"></i>
                </button>

              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>